
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
.header {
    background-image: url(img/bg.gif);
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.headerSortUp {
    background-image: url(img/asc.gif);
}
.headerSortDown {
    background-image:url(img/desc.gif);
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

td.texto {
    text-align: left;
    padding: 8px;
}

td.numero{
    text-align: right;
    padding: 8px;
}
/*
tr:nth-child(even){background-color: #f2f2f2}
*/
th {
    background-color: #4CAF50;
    color: white;
}
.atencion{
    background-color:gold !important;

    color: red; 
}
.articuloImportado{
    /*background-color:gold !important;*/
    background-color: #5dade2;
}
.articuloSinMovimiento{
    /*background-color:gold !important;*/
    background-color: #00FF00;
}

* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

.header {
    background-color: #00C851;
    color: #ffffff;
    padding: 15px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}
.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

.flotante {
    display:scroll;
    position:fixed;

}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }


}